{% extends 'base_auth.html' %}

{% load static %}

{% block content %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log In</p>
  
                  <form action="{% url 'login' %}" class="mx-1 mx-md-6 needs-validation" method="post">

                    {% csrf_token %}

                    {% include 'partials/messages.html'%}
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="username" id="UserNameField" placeholder="Username" class="form-control" value="{{fieldValues.username}}" style="border-radius:15px" required/>
                        <div class="username-feedback invalid-feedback " style="display:none;">
                        </div>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                     <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <div class="password-field-area" style="position: relative;">
                          <input type="password" name="password" id="PasswordField" placeholder="Password" class="form-control" style="border-radius:15px" required/> 
                          <i class="fa fa-eye" id="togglePassword" style="position:absolute; top: 17px; right: 8px; cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg submit-btn" >Log In</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<script src="{% static 'js/login.js' %}"></script>
{% endblock content %}